.DS_Store
node_modules
package-lock.json
public/build/*
profile-cloud/
dist-svelte
dist-web
dist
build
.env
/test-results/
/playwright-report/
/playwright/.cache/
buildVariables.json
.vscode/launch.json
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
