:root {
  --foreground: #30194d;
  --background: #fffaf2;
  --shadow: #76519a;

  --foreground-muted: color-mix(
    in srgb,
    var(--foreground) 70%,
    var(--background) 30%
  );
  --foreground-soft: color-mix(
    in srgb,
    var(--foreground) 50%,
    var(--background) 50%
  );
  --foreground-disabled: #c7bcd2;

  --background-muted: color-mix(in srgb, var(--background), var(--shadow) 20%);
  --background-soft: #d2cac0;

  --border: #69458b;
  --accent: #e76f2d;
  --accent-muted: color-mix(in srgb, var(--accent), var(--shadow) 30%);
  --accent-soft: color-mix(in srgb, var(--accent), var(--shadow) 50%);

  --focus: #69458b80;
  --focus-outline: 1px solid var(--focus);
  --focus-offset: 1px;

  --error: #bd3b4c;

  --popover-background: color-mix(
    in srgb,
    var(--background),
    rgba(255, 255, 255, 1) 78%
  );
  --popover-selection: var(--background-soft);
  --popover-reference: var(--background-muted);

  --radius: 0em;
  --border-thickness: 1px;
}
