/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GT Pressura Pro M Trial";
  src: url("/fonts/GT-Pressura-Pro-Mono-Trial-Light.otf") format("opentype");
}

@font-face {
  font-family: "Aldo-SemiBold";
  src: url("/fonts/AldoPC.eot");
  /* IE9 Compat Modes */
  src:
    url("/fonts/AldoPC.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
    url("/fonts/AldoPC.otf") format("opentype"),
    /* Open Type Font */
    url("/fonts/AldoPC.svg") format("svg"),
    /* Legacy iOS */
    url("/fonts/AldoPC.ttf") format("truetype"),
    /* Safari, Android, iOS */
    url("/fonts/AldoPC.woff") format("woff"),
    /* Modern Browsers */
    url("/fonts/AldoPC.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/* roboto-300 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/roboto-v20-latin-300.eot");
  /* IE9 Compat Modes */
  src:
    local("Roboto Light"),
    local("Roboto-Light"),
    url("/fonts/roboto-v20-latin-300.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
    url("/fonts/roboto-v20-latin-300.woff2") format("woff2"),
    /* Super Modern Browsers */
    url("/fonts/roboto-v20-latin-300.woff") format("woff"),
    /* Modern Browsers */
    url("/fonts/roboto-v20-latin-300.ttf") format("truetype"),
    /* Safari, Android, iOS */
    url("/fonts/roboto-v20-latin-300.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/roboto-v20-latin-regular.eot");
  /* IE9 Compat Modes */
  src:
    local("Roboto"),
    local("Roboto-Regular"),
    url("/fonts/roboto-v20-latin-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
    url("/fonts/roboto-v20-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */
    url("/fonts/roboto-v20-latin-regular.woff") format("woff"),
    /* Modern Browsers */
    url("/fonts/roboto-v20-latin-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */
    url("/fonts/roboto-v20-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/roboto-v20-latin-500.eot");
  /* IE9 Compat Modes */
  src:
    local("Roboto Medium"),
    local("Roboto-Medium"),
    url("/fonts/roboto-v20-latin-500.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
    url("/fonts/roboto-v20-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */
    url("/fonts/roboto-v20-latin-500.woff") format("woff"),
    /* Modern Browsers */
    url("/fonts/roboto-v20-latin-500.ttf") format("truetype"),
    /* Safari, Android, iOS */
    url("/fonts/roboto-v20-latin-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/roboto-v20-latin-700.eot");
  /* IE9 Compat Modes */
  src:
    local("Roboto Bold"),
    local("Roboto-Bold"),
    url("/fonts/roboto-v20-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
    url("/fonts/roboto-v20-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */
    url("/fonts/roboto-v20-latin-700.woff") format("woff"),
    /* Modern Browsers */
    url("/fonts/roboto-v20-latin-700.ttf") format("truetype"),
    /* Safari, Android, iOS */
    url("/fonts/roboto-v20-latin-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}

html {
  font-size: 12px;

  /* Action block category colors */
  --category-midi: #FF9CF6;
  --category-hid: #C0E4F6;
  --category-led: #1181C8;
  --category-variables: #EBECE6;
  --category-condition: #FFF4D1;
  --category-loop: #FDFFE4;
  --category-code: #7BF1A8;
  --category-element-settings: #E5FFCF;
  --category-timer: #90F1EF;
  --category-function: #F2EAE0;
  --category-special: #B8B8FF;
  --category-deprecated: #545454;
}

body {
  @apply select-none;
  @apply m-0 flex h-screen flex-col p-0 font-roboto;
  background: var(--background);
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
  background: var(--background-soft);
}

::-webkit-scrollbar-thumb {
  background: #286787;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  background: var(--background-soft);
}

/* 
  Mixpanel img-transport tracking pixels must never intercept pointer events. This is required for the test suite to run.
*/
img[src*="mixpanel.com"] {
  pointer-events: none !important;
}