name: Build Nightly Grid Editor

on: 
  push:
    branches:
      - nightly

jobs:
  build:
    if: github.ref == 'refs/heads/nightly'
    name: Build Nightly Grid Editor
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v2
        with:
          ref: ''
          submodules: true

      - name: Setup NodeJs
        uses: actions/setup-node@v1
        with:
          node-version: '14.4'
          
      - name: create env file
        run: |
          touch .env
          echo EMAIL=${{secrets.EMAIL}} >> .env
          echo EMAIL_PASS=${{secrets.EMAIL_PASS}} >> .env
          echo UA=${{secrets.UA}} >> .env

      - name: Install dependencies
        run: npm i
        env:
          # email stuff
          EMAIL: ${{ secrets.EMAIL }}
          EMAIL_PASS: ${{secrets.EMAIL_PASS}}
          UA: ${{ secrets.UA }}
  
      - name: Build
        run: npm run export
        env:     
          # gh repo token
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

          # macOS Code signing certificates
          CSC_LINK: ${{ secrets.CSC_LINK }}
          CSC_KEY_PASSWORD: ${{ secrets.CSC_KEY_PASSWORD }}

          # macOS notarization API key
          APPLE_ID: ${{ secrets.APPLE_ID }}
          APPLE_ID_PASSWORD: ${{ secrets.APPLE_ID_PASSWORD }}

      - name: See directory
        run: ls dist/*.*

      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: nightly
          path: dist/*.*
      
      - name: Download Artifacts
        uses: actions/download-artifact@v2

      - name: Discord Notification
        uses: rjstone/discord-webhook-notify@v1
        if: success()
        with:
            severity: info
            username: Nightly Bot
            footer: Programming is fun.
            description: 'Download latest nightly artifact!'
            details: 'Link to workflows: https://github.com/intechstudio/grid-editor/actions'
            webhookUrl: ${{ secrets.DISCORD_DEV_WEBHOOK }}
